html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #2A363b, #e84a5f, #ff847c, #fecea8, #99b898 ); 
    width: 80%; 
    height: 100%;  
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

main {
    margin-bottom: 200px;
}

h1 {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Source Code Pro', 'Times New Roman', serif;
    color: #fff;
}

h2 {
   font-size: 4rem;
   margin-left: 20px;
   font-family: 'Source Code Pro', 'Times New Roman', serif;
   color: #fff;
   text-decoration: underline;
}

.text-container {
    width:90%;
    margin:auto;
}

/* h2 class */
.color-explanation {
    font-size: 1.7rem;
    font-family: Raleway, 'Times New Roman', serif;
    color:  #2a363b;
    text-decoration: none;
    margin:auto;
}

p {
    font-size: 2.5rem;
}

/* Whole Color Section */
.color {
    border: 1px solid #d7d7d7;
    width: 100%;
    border-radius: 5px;
    max-width: 100%;
    padding:20px 20px 15px 20px;
    margin:auto;
}

.color-container {
    width: 100%;
    padding: 5px;
    margin:auto;
    display: inline-block;
}
/* color 1 box */
.color1 {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px 5px;
    min-height: 100px;
    background: #99b898;
    font-family: Raleway, 'Times New Roman', serif;
    border: 1px solid black;
}

.color2 {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px 5px;
    min-height: 100px;
    background: #fecea8;
    border: 1px solid black;
}

.color3 {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px 5px;
    min-height: 100px;
    background: #ff847c;
    border: 1px solid black;
}

.color4 {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px 5px;
    min-height: 100px;
    background: #e84a5f;
    border: 1px solid black;
}

.color5 {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px 5px;
    min-height: 100px;
    background: #2a363b;
    border: 1px solid rgb(102 102 102);
}

.colors-rest {
    font-family: Raleway, 'Times New Roman', serif;
    color: #000;
    width: 100%;
}

.hex-rest {
    font-family: Raleway, 'Times New Roman', serif;
    color: #000;
}

.colors-five {
    font-family: Raleway, 'Times New Roman', serif;
    color: #e9bdbd;
}

.hex-five {
    font-family: Raleway, 'Times New Roman', serif;
    color: #e9bdbd;
}
/* FONTS SECTION */
.heading {
   color: #fff;
}

.fonts {
    border: 1px solid #d7d7d7;
    width: 100%;
    border-radius: 5px;
    max-width: 100%;
    padding:20px 20px 15px 20px;
    margin:auto;
}

.font-container {
    width: 100%;
    display: inline-block;
}

.font1 {
    margin: 20px 60px 20px 30px;
    width: 45%;
    display: inline-block;
}
/* Source Code Pro / Regular - Bold - Italic  */

.heading-SCP {
    font-family: 'Source Code Pro', 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: underline;
    color:#000000;
}

.regular-SCP {
    font-family: 'Source Code Pro', 'Times New Roman', serif;
}

.bold-SCP {
    font-family: 'Source Code Pro', 'Times New Roman', serif;
    font-weight: bold;
}

.italic-SCP {
    font-family: 'Source Code Pro', 'Times New Roman', serif;
}

/* Unbounded */
.heading-Unbounded {
    font-family: Unbounded, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: underline;
    color:#000000;
}

.regular-Unbounded {
    font-family: Unbounded, 'Times New Roman', serif;
}

.bold-Unbounded {
    font-family: Unbounded, 'Times New Roman', serif;
    font-weight: bold;
}

.italic-Unbounded {
    font-family: Unbounded, 'Times New Roman', serif;
    
}
/* Raleway */
.heading-Raleway {
    font-family: Raleway, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: underline;
    color:#000000;
}

.regular-Raleway {
    font-family: Raleway, 'Times New Roman', serif;
}

.bold-Raleway {
    font-family: Raleway, 'Times New Roman', serif;
    font-weight: bold;
}

.italic-Raleway {
    font-family: Raleway, 'Times New Roman', serif;
    
}
/* TEXT STYLES */
.text-Styles1 {
    font-size: 6rem;
    text-align: left;
    color:#000000;
    margin: auto;
}

.ul1 {
    font-size: 2.5rem;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 0px 0px 30px;
}

.text-Styles2 {
    font-size: 5rem;
    text-align: left;
    color:#000000;
    text-decoration: none;
    margin: auto;
}

.ul2 {
    font-size: 2.5rem;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 0px 0px 30px;
}

.text-Styles3 {
    font-size: 4rem;
    text-align: left;
    color:#000000;
    margin: auto;
}

.ul3 {
    font-size: 2.5rem;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 0px 0px 30px;
}

/* Bullet Points for <li> elements in Text Styles Section */
ul {
    list-style:none;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color:#b1a4a4;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -0.1em; /* Also needed for space (tweak if needed) */
}
  
footer {
    text-align:center;
    font-size: 2.5rem;
    color:#b1a4a455;
    margin-bottom: 25px;
    border: 1px solid #ffe4e422;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.footer {
    text-align:center;
    color:#b1a4a455;
}

#footer1:hover {
    color: hsl(196, 20%, 89%);
    transform: scale(1.2);
}

a {
    color:#b1a4a455;
    text-decoration: none;
}

a:hover {
    color: hsl(196, 20%, 89%);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    body   {
            width: 70%; 
            height: 100%;  
            margin: auto;
            box-sizing: border-box;
   }
 }

/* Color Box SECTION */
@media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    .text-container, p, .color1 .color2 .color3 .color4 .color5  {
            font-size: 13px;
            float:left;
            width: 100%;     
   }
 }

 @media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    .color-container h2.color-explanation  {
            font-size: 13px;
   }
 }

@media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    .color-explanation  {
            font-size: 13px;
            float:left;
            width: 100%;     
   }
 }

 /* FONTS SECTION */
 /* Section class fonts  */
 @media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    .fonts {
            float:left;
            width: 100%;     
            margin: 15px auto;
   }
 }
/* font1 class - Fonts SECTION */
 @media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    .font1 p {
            float:left;
            width: 100%;     
            margin: 15px auto;
            font-size: 20px;
   }
 }

/* Text Styles SECTION START */
 @media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
      .text-Styles1  {
            font-size: 37px;
            float:left;
            width: 100%;     
            margin: 15px auto;
   }
 }

 @media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
     h2, .text-Styles2 {
            font-size: 31px;
            float:left;
            width: 100%;     
            margin: 15px auto;
   }
 }

 @media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
     .text-Styles3{
            font-size: 27px;
            float:left;
            width: 100%;     
            margin: 15px auto;
  }
}

@media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    li {
            font-size: 19px;
            float:left;
            width: 100%;     
            margin: 15px auto;
  }
}
/* Text Styles SECTION END */

/* footer */
@media only screen and (max-width: 480px) and (max-width: 768px) and (max-width: 1024px) {
    footer {
             margin: 75px 13px auto 50px;
             font-size: 1.5rem;
  }
}














